html {
    scroll-behavior: smooth;
}

/* ======= Start General Styles ======= */
.text-center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.width-100 {
    width: 100%;
}

iframe {
    width: 100%;
    height: 250px;
}

.media i {
    font-size: 30px;
    margin: 10px;
}

.secondary-color {
    color: 	hsl(17, 100%, 50%);
}

.highlight-color {
    color: 	hsl(200, 15%, 24%);
}

.text-white {
    color: #fff;
}

/* ======= End General Styles ======= */


/* ====== overriders ====== */
.navbar-light .navbar-brand {
    color: 	hsl(200, 15%, 24%);
}

.navbar-light .navbar-brand:hover {
    color: 	hsl(200, 15%, 24%);
}

.btn-primary {
    background-color: 	hsl(17, 100%, 50%);
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.0);
    color: #fff;
    border-radius: 0;
    transition: all ease-in 0.2s;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    border: 2px solid 	hsl(17, 100%, 50%);
}

/* ======= Start Header ====== */

.jumbotron {
    border-top: 4px solid hsl(17, 100%, 50%);
    position: relative;
    height: auto;
    background-image: url('../img/main-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);

    /* enable for parallax */
    /* background-attachment: fixed; */
}

.jumbotron:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}

.jumbotron .container * {
    z-index: 5;
    margin-top: 20px;
}

.jumbotron .container {
    margin-top: 50px;
}

.lead {
    font-size: 25px;
}

/* ======= End Header ====== */


/* ====== Start Card Styes ====== */
.card-body .title {
    text-align: center;
    font-size: 14px;

}

.card-title {
    text-align: center;
    margin: 0;

}

/* ====== End Card Styes ====== */


/* ====== Start Main Selling Points ====== */

.main-icon i {
    font-size: 25px;
}



/* ======= Start Staff Cards ======= */

.card.staff {
    padding-top: 60px;
    margin-top: 90px;
    padding-bottom: 20px;
    height: auto;
}

.card.staff .cover-image {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.card.staff .cover-image img {
    width: 100%;
}

.card.staff .connect {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.background {
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

/* ======= End Staff Cards ======= */

/* ====== Start Footer ====== */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ====== End Footer ====== */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* ======= Start Header ====== */



    .jumbotron .container {
        margin-top: 15vh;
    }

    .jumbotron .container * {
        margin-top: 0px;
    }

    .jumbotron {
        height: 70vh;
    }

    /* ======= End Header ====== */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card.staff {
        margin-top: 0px;
        height: 100%;
    }

    iframe {
        height: 450px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}