<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Rider Jensen Creations</title>
	<meta name="description"
		content="Rider Jensen is a Web Developer in Provo, Utah. He offers web development with a personal touch. Communication, quick responses, and professional interactions set Rider apart from the competition. Rider is for hire and offers free consultations at no cost to you.">
	<meta name="theme-color" content="#ffffff" />
	<link rel="icon" sizes="192x192" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/fontawesome/all.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112983194-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-112983194-1');
	</script>
	<!-- Font Awesome -->
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-example2">
		<a class="navbar-brand" href="#top">Rider Jensen</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#projects">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#skills">Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Contact</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<a target="_blank" class="nav-link" href="https://github.com/riderjensen">Github</a>
				</li>
				<li class="nav-item">
					<a target="_blank" class="nav-link"
						href="https://drive.google.com/file/d/1OWBIarpg4eqlThcLUaurgWbn3uxN4Vmf/view?usp=sharing">Resume</a>
				</li>
				<li class="nav-item">
					<a target="_blank" class="nav-link"
						href="https://docs.google.com/document/d/1X4iFJ9LqhrVLlwJb9nxnMdZfFHXwgICUF5aJ-ba-qdQ/edit?usp=sharing">Creations</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<a id="top"></a>
	<div class="jumbotron">
		<div class="jumbo-opacity"></div>
		<div class="container">
			<div class="row">
				<h1 class="display-4 text-white">Web Development<br /><span class="secondary-color">with a human
						touch</span>.</h1>
				<p class="lead text-white width-100">Dont waste time ceating a website that wont accomplish your goals.</p>
				<p class="width-100 text-white">Custom-made web applications built to increase productivity and websites to increase revenue.</p>
				<a class="btn btn-primary btn-lg" href="#contact" role="button">Contact Me</a>

			</div>
		</div>
	</div>


	<div style="position: relative;">
		<canvas class="background"></canvas>

		<!-- Our Team -->
		<div class="container padding-top-50 padding-bottom-50" id="about">
			<div class="row padding-top-50">
				<div class="col-md-12 col-lg-6 offset-lg-3">
					<div class="card staff">
						<div class="cover-image rounded-circle">
							<img src="./img/rider.jpg" />
						</div>
						<div class="card-body">
							<h5 class="card-title">Rider Jensen</h5>
							<p class="title">Web Developer</p>
							<p class="card-text">Self-starter junior web developer with great project management skills
								and
								3+
								years of hands on progressive experience. I am a highly ambitious problem solver
								with a strong desire to learn and keep up on new trends. Adept at working
								with Agile and Scrum methodologies to accomplish project milestones. </p>
							<p class="connect"><a href="https://www.linkedin.com/in/rider-jensen/" target="_blank"
									title="Rider Jensen's LinkedIn Profile"><i
										class="fab fa-linkedin-in highlight-color"></i></a> <a
									href="https://github.com/riderjensen" target="_blank"
									title="Rider Jensen's Github Profile"><i
										class="fab fa-github highlight-color"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container padding-top-50 padding-bottom-50">
			<div class="row">
				<div class="col-md-10 offset-md-1 col-sm-12">
					<h2 class="text-center padding-bottom-20">About Me</h2>
					<p>I am a junior fullstack application developer looking to increase my skillset. I fell into
						web
						development about 4 years ago after completing and associate's degree in History and
						Political
						Science. I found that not only was I technically minded but many of my past experiences had
						me
						very customer service oriented. Helping people is something that I have always loved to do
						and
						web development has allowed me to fulfill this purpose in my life while working with
						technology
						that I love.</p>
					<p>Outside of work, I like to work on my own personal projects, most of which are featured on my
						<a href="https://github.com/riderjensen">GutHub</a>. Among my favorites is a URL shortner
						that
						I built open source and easily customizable. The idea came from a PHP URL shortner that is
						called <a href="https://yourls.org" target="_blank">YOURLS</a>. I wanted to create something
						similar that anyone could use and that would be available to the community and community
						contribution. The most challenging part for me was to figure out how to have global
						variables in
						my main file (so users would only have to edit one page to get the application up and
						running)
						and also use these variables through out the application.</p>
					<p>Besides coding, I love playing video games and playing DND with my friends. I play a lot of
						RPGs
						and I have sunk an embarassingly large amount of hours into World of Warcraft. I also enjoy
						my
						Xbox One though I usually use it to turn on netflix and have sound playing while I work on
						things on my laptop.</p>
				</div>
			</div>
			<!--End Container -->
		</div>

		<div class="container padding-top-20 padding-bottom-20" id="projects">
			<h2 class="text-center padding-bottom-20">Projects</h2>

			<div class="row">
				<div class="col-md-6">
					<h3><i class="fas fa-server"></i> Fullstack</h3>
					<p><a href="https://github.com/riderjensen?tab=projects" target="_blank">Usability Testing
							Project</a>
					</p>
					<p><a href="https://github.com/riderjensen?tab=projects" target="_blank">Vue GrapqhQL and Rest
							Project</a>
					</p>
					<p><a href="https://github.com/riderjensen/PHP---MySQL/tree/master/movieSite%20-%20cap"
							target="_blank">PHP and MySQL Movie Theater
							Listings</a></p>

				</div>
				<div class="col-md-6">
					<p>Node with express and MongoDB are my bread in butter with application creation.
						The server that is currently running this page is using Node because not only is this home to my
						portfolio but I have also built a RESTful API and a GraphQL API on this server (see /api and
						/sub
						respectivley or look at the documentation on my Github). </p>
				</div>
			</div>
		</div>
		<div class="container padding-top-20 padding-bottom-20">
			<div class="row">
				<div class="col-md-6">
					<h3><i class="fab fa-react"></i> Frontend/CMS</h3>
					<p><a href="https://github.com/riderjensen/api-frontend-react" target="_blank">React with Netlify
							CI</a>
					</p>
					<p><a href="https://github.com/riderjensen/vue-final-rider" target="_blank">Vue with Netlify
							CI</a></p>
					<p><a href="https://github.com/riderjensen/chatServer" target="_blank">Bootstrap with a connected
							backend</a></p>
				</div>
				<div class="col-md-6 specMarg altMarginTwo">
					<p>I have plenty of experience with frontend frameworks/libraries such as Vue, React, and BootStrap.
						These libraries pair incredibly well with Node applications that are RESTful services and since
						being introduced to this application structure, I have built almost all my applications in it.
						This
						includes migrating my senior project over from an MVC to a RESTful service.</p>
				</div>
			</div>
		</div>

		<div class="container padding-top-20 padding-bottom-20">
			<div class="row">
				<div class="col-md-6">
					<h3><i class="fas fa-mobile-alt"></i> Mobile Apps</h3>
					<p><a href="https://play.google.com/store/apps/developer?id=Rider+Jensen" target="_blank">My App
							Store
							Link</a></p>
					<p><a href="https://github.com/riderjensen/leanlist" target="_blank">Group list management with
							firebase</a></p>
					<p><a href="https://github.com/riderjensen/my_flutter_app" target="_blank">Simple Trading App</a>
					</p>
				</div>
				<div class="col-md-6 regMargTop largeBottomMargin">
					<p>I create both Andriod and iOS applications using Flutter, a google framework
						that compiles
						down to the base languages of Java and Swift. I am also learning React Native in my spare time.
						Already in my applications I have used firebase to
						store
						information, complete user authentication, and interact with my app.</p>
				</div>
				<br>
			</div>
		</div>
		<!--End Container -->
		<div class="container padding-top-50 padding-bottom-50" id="skills">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center padding-bottom-20">Skills</h2>
					<div class="row">
						<div class="col-sm-10 offset-sm-1">
							<div class="row">
								<div class="col-6 col-sm-3">
									<p>HTML</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>CSS</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>JavaScript</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>UI/UX Design</p>
								</div>
							</div>
							<div class="row">

								<div class="col-6 col-sm-3">
									<p>Git development</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Node.js</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>NoSQL</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>MySQL</p>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-sm-3">
									<p>Flutter</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Dart</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>PHP</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Project Management</p>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-sm-3">
									<p>C#</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Ruby</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Vue.js</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Data modeling</p>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-sm-3">
									<p>Software Onboarding</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>C++</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>iOS Development</p>
								</div>
								<div class="col-6 col-sm-3">
									<p>Android Development</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End Container -->
		</div>
	</div>
	<div class="container padding-bottom-50" id="contact">
		<div class="row text-center padding-bottom-50 padding-bottom-50 title-section">
			<h2 class="margin-auto">Contact Me</h2>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2 col-12">
				<form action="https://formspree.io/riderjensen@gmail.com" method="POST">
					<div class="form-group">
						<label for="exampleInputEmail1">Full name<span class="highlight-color">*</span></label>
						<input type="text" required class="form-control" name="name" placeholder="Enter name">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address<span class="highlight-color">*</span></label>
						<input type="email" required class="form-control" name="_replyto" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Telephone</label>
						<input type="tel" class="form-control" name="telephone" placeholder="999-999-9999">
					</div>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">What is your message? </label>
						<textarea class="form-control" rows="3"
							placeholder="We would like to learn more about your services..."></textarea>
					</div>
					<input type="submit" class="btn btn-primary" value="Submit">
				</form>

			</div>
		</div>

	</div>

	<div class="container-fluid">
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-4 text-center">
						Rider Jensen &copy; 2019
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!--/container -->
	<script src="https://intense-plains-47179.herokuapp.com/js?id=5cc076e15be85f00178e91db" id="usable"></script>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="js/bootstrap.min.js" type="text/javascript">
	</script>
	<script src="js/particles.min.js"></script>
	<script>
		window.onload = function () {
			Particles.init({
				selector: '.background',
				color: ['#4EA64D', '#787879', '#E6E6FA', 'F0A830'],
				connectParticles: true
			});
		};
	</script>
</body>

</html>