<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Rider Jensen Creations</title>
	<meta name="description" content="Rider Jensen is a Web Developer in Provo, Utah. He offers web development with a personal touch. Communication, quick responses, and professional interactions set Rider apart from the competition. Rider is for hire and offers free consultations at no cost to you.">
	<meta name="theme-color" content="#ffffff" />
	<link rel="icon" sizes="192x192" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112983194-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-112983194-1');
        </script>
	<script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	<!-- Font Awesome -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#top"><img class="logo" src="img/logo.png" alt="Rider Jensen Creations Logo"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul id="ulClassHeader" class="nav navbar-nav navbar-right hidden">
					<li><a id="greetingMessage" href="#"></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-left orderedList">
					<li><a href="#prevWork" title="Anchor tag to the work section">Work</a></li>
					</li>
					<li><a href="#people" title="Anchor tag to the about section">About</a></li>
					</li>
					<li><a href="#practice" title="Anchor tag to the skills section">Skills</a></li>
					</li>
					<li><a href="#contact" title="Anchor tag to the contact section">Contact</a></li>
					</li>
					<li><a href="#socialMed" title="Anchor tag to the social media section">Social Media</a></li>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<a id="top"></a>
	<div class="paralaxPic" id="paralaxPic">
		<div class="container ">
			<div class="row headerCont">
				<div class="col-md-12">
					<h1 class="alignCenter titleCard darkText">Rider Jensen</h1>
					<h2 class="alignCenter darkText">Web and App Development</h2>
					<a href="#contact"><button class="buttonFixTop">Contact</button></a>

				</div>
			</div>
		</div>
	</div>




	<div class="container">
		<a id="prevWork"></a>
		<div class="row">
			<div class="col-md-12 alignCenter largeTopMargin">
				<h1>Previous Work</h1>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3><span class="glyphicon glyphicon-cloud glyphPrevWork" aria-hidden="true"></span> Backend</h3>
				<h4><a href="https://github.com/riderjensen/usabilityTesting" target="_blank">Node + Mongo Web Application for
						Usability</a></h4>
				<h4><a href="https://github.com/riderjensen/chatServer" target="_blank">Node + Mongo Chat Server</a></h4>
				<h4><a href="https://github.com/riderjensen/PHP---MySQL" target="_blank">PHP and MySQL Movie Theater Listings</a></h4>

			</div>
			<div class="col-md-6 regMargBot">
				<p class="previousWork">Node with Express and Mongo are what I love to develop in for my backend. I will often use
					EJS as my templating language though I have used both handlebars and PUG before. Creating RESTful APIs using
					express is fun to expiriment with and pairs well when I work with frontend frameworks like Vue.js. Deciding on
					information end points usually helps me decide what stack I will be using. </p>
			</div>
		</div>
	</div>
	<div class="container-fluid social">
		<div class="container">
			<div class="row">
				<div class="col-md-6 specMarg altMarginOne">
					<h3><span class="glyphicon glyphicon-tasks glyphPrevWork alignCenter" aria-hidden="true"></span> Frontend/CMS</h3>
					<h4><a href="https://github.com/riderjensen/chatServer" target="_blank">Bootstrap with a connected backend</a></h4>
					<h4><a href="https://www.uvu.edu/criminaljustice/policeacademy/application.html" target="_blank">Bootstrap
							combined with a CMS</a></h4>
					<h4><a href="https://github.com/riderjensen/vue-final-rider" target="_blank">Vue with Netlify deployment</a></h4>
				</div>
				<div class="col-md-6 specMarg altMarginTwo">
					<p class="previousWork">Being able to with pre-established systems is just as important as being able to branch
						out and learn new technologies. Often times, I will be developing using pieces of old code or needing to make new
						integrations. Being able to seamlessly move into a new CMS is important for a workflow and what I have done with
						the CMS used at UVU, combined with Bootstrap. Deployment using Netlify for quick showings to a client is also a
						very useful tool.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" style="padding-bottom: 40px;">
			<div class="col-md-6 regMargTop">
				<h3><span class="glyphicon glyphicon-eye-open glyphPrevWork" aria-hidden="true"></span> Mobile Apps</h3>
				<h4><a href="https://play.google.com/store/apps/developer?id=Rider+Jensen" target="_blank">My App Store Link</a></h4>
				<h4><a href="https://github.com/riderjensen/leanlist" target="_blank">Group list management with firebase</a></h4>
				<h4><a href="https://github.com/riderjensen/my_flutter_app" target="_blank">Simple Trading App</a></h4>
			</div>
			<div class="col-md-6 regMargTop largeBottomMargin">
				<p class="previousWork">I create both Andriod and iOS applications using Flutter, a google framework that compiles
					down to the base languages of Java and Swift. Self-taught but eager to learn more how to leverage built in
					capabilities of phone in greater and better ways. Already in my applications I have used firebase to store
					information, complete user authentication, and interact with my app.</p>
			</div>
			<br>
			<a id="people"></a>
		</div>
	</div>
	<!--End Container -->




	<div class="container-fluid social">
		<div class="paralaxPic2" id="paralaxPic2">
			<div class="container">
				<div class="row largeBottomMargin largeTopMargin">
					<div class="col-md-1 col-sm-0">
					</div>
					<div class="col-md-10 col-sm-12 ourFirmBackground aboutMeText">
						<h1 class="alignCenter aboutMeHeading">About Me</h1>
						<br>
						<p class="aboutMe">Currently in school at Utah Valley University, I am pursuing a degree in Web Development
							with an emphasis in Web and App development. My current GPA is at a 3.87. I earned an Associates Degree
							in History and Political Science for UVU in 2016. I am involved with the UVU Honors Program and I have
							recieved two scholarships from them. In 2013, I was also awarded a four year scholarship from UVU for my
							exemplary performance in high school and on the ACT.</p>
						<br>

						<p class="aboutMe">While I will have a degree, I believe myself to be mostly self-taught. Going above and beyond
							what I was required to learn in school, I have develed much deeper into things like data modeling, user
							authentication, and securing server information. Learning is something that I will never be done with because I
							have a passion to further my knowledge. I want to grow myself while being able to provide the best benefits and
							service to my clients.</p>
						<br>
						<p class="aboutMe">Deployment is an area where I would like to grow my skill set. I have deployed a number of
							websites but only a few web applications. Rolling deployment is still a new thing to me though I really enjoy
							creating, getting feedback, and then sending small updates to my applications. I also enjoy working on
							development only servers and then deploying to live servers.</p>

					</div>
					<div class="col-md-1 col-sm-0">

					</div>
				</div>
			</div>
			<!--End Container -->
		</div>
	</div>
	<!--End Container Fluid -->

	<a id="practice"></a>
	<div class="container-fluid">
		<div class="container">
			<div class="row medTopMargins">
				<br><br>
				<div class="col-md-12">

					<h1 style="text-align: center;">Skills</h1>
				</div>
			</div>
			<div class="row  medBottomMargin">

				<div class="col-sm-4 col-xs-12">
					<ul class="pracAreas">
						<li>
							<h3>Git development</h3>
							<p>Experienced in git workflow.</p>
						</li>
						<li>
							<h3>Node.js</h3>
							<p>Experienced with Node.js application create and workflow</p>
						</li>
						<li>
							<h3>NoSQL Databses</h3>
							<p>Proficient in Mongo and NoSQL DBs.</p>
						</li>
						<li>
							<h3>HTML</h3>
							<p>Proficient in HTML and front-end frameworks like Bootstrap.</p>
						</li>
						<li>
							<h3>CSS</h3>
							<p>Proficient in CSS as well as SASS/SCSS/Precompiled CSS.</p>
						</li>
						<li>
							<h3>UI/UX Design</h3>
							<p>Iterating on ideas, project briefs, and mock-ups (including working prototype).</p>
						</li>

					</ul>
				</div>
				<div class="col-sm-4 col-xs-12">
					<ul class="pracAreas">
						<li>
							<h3>Flutter</h3>
							<p>Proficient in App creation</p>
						</li>
						<li>
							<h3>Dart</h3>
							<p>Proficient in using and importing.</p>
						</li>

						<li>
							<h3>PHP</h3>
							<p>Proficient in using PHP.</p>
						</li>
						<li>
							<h3>Project Management</h3>
							<p>Experienced in creating, planning, and execution.</p>
						</li>
						<li>
							<h3>C#</h3>
							<p>Proficient in C# including methods, classes, and interaction on Unity.</p>
						</li>
						<li>
							<h3>Ruby</h3>
							<p>Some experience with Ruby and building programs.</p>
						</li>

					</ul>
				</div>
				<div class="col-sm-4 col-xs-12">
					<ul class="pracAreas">
						<li>
							<h3>Vue.js</h3>
							<p>Proficient in frontend frameworks like Vue.js.</p>
						</li>
						<li>
							<h3>SQL Databases</h3>
							<p>Proficient in SQL DBs and tools like Sequalize.</p>
						</li>

						<li>
							<h3>Data modeling</h3>
							<p>Creating, storing, and mangaing data relations.</p>
						</li>
						<li>
							<h3>JavaScript</h3>
							<p>Experienced in JavaScript language including JSON and APIs.</p>
						</li>

						<li>
							<h3>Software Onboarding</h3>
							<p>Experience in creating onboarding guides to help employees be ready to use software.</p>
						</li>
						<li>
							<h3>C++</h3>
							<p>Experience with classes, file I/O, and exceptions.</p>
						</li>
					</ul>
					<a id="contact"></a>
				</div>

			</div>
		</div>
		<!--End Container -->
	</div>
	<!--End Container Fluid -->



	<div class="container-fluid">
		<div class="paralaxPic3" id="paralaxPic3">
			<div class="container">
				<div class="row">

					<br><br>
					<div class="col-md-12">
						<h3 class="alignCenter" id="contactHeading">Contact</h3>
					</div>
				</div>
				<div class="row">
					<br>
					<div class="col-md-12">
						<form class="form-horizontal" action="/submit" method="POST">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Name*</label>
									<div class="col-sm-8">
										<input type="text" name="Name" value="" class="form-control" placeholder="Full Name" required>
									</div>
								</div>
							</fieldset>

							<fieldset class="website">
								<div class="form-group">
									<label class="col-sm-2 control-label">Email*</label>
									<div class="col-sm-8">
										<input type="text" class="email" name="email" value="" class="form-control" placeholder="youremail@domain.com">
									</div>
								</div>
							</fieldset>

							<fieldset class="website">
								<div class="form-group">
									<label class="col-sm-2 control-label">Website*</label>
									<div class="col-sm-8">
										<input type="text" id="website" name="website" value="" class="form-control">
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Email*</label>
									<div class="col-sm-8">
										<input type="text" name="userEmail" value="" class="form-control" placeholder="youremail@domain.com" required>
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Phone*</label>
									<div class="col-sm-8">
										<input type="text" name="Phone" value="" class="form-control" placeholder="801-854-9212" required>
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Subject*</label>
									<div class="col-sm-8">
										<input type="text" name="Subject" value="" class="form-control" placeholder="Enter Your Subject Here"
										 required>
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Message*</label>
									<div class="col-sm-8">
										<textarea rows="4" name="Comments" class="form-control" placeholder="Please enter some basic information as to what this project is"
										 required></textarea>
										<p>*required fields</p>
									</div>
								</div>
							</fieldset>
							<input class="btn btn-primary btn-lg subButton" type="submit" name="submit" value="Submit">
							<input type="hidden" name="subject" value="Contact Us Form">
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a id="socialMed"></a>
	<div class="container-fluid social">
		<div class="container">
			<div class="row regMargBot regMargTop">
				<div class="col-md-12 alignCenter">
					<h1>Social</h1>
				</div>
			</div>
			<div class="row regMargBot">
				<div class="col-md-3 col-sm-6 alignCenter">
					<a href="https://github.com/riderjensen" target="_blank"><img class="socMedIcon" src="img/github.svg" alt="Github Logo"></a>
					<p class="socialConnection">Connect with me on GitHub and see what current projects I am working on</p>
				</div>
				<div class="col-md-3 col-sm-6 alignCenter">
					<a href="https://twitter.com/RiderJensen" target="_blank"><img class="socMedIcon" src="img/twitter.svg" alt="Twitter Logo"></a>
					<p class="socialConnection">Connect with me on Twitter and see what I am saying about the industry</p>
				</div>
				<div class="col-md-3 col-sm-6 alignCenter">
					<a href="https://medium.com/@riderjensen" target="_blank"><img class="socMedIcon" src="img/medium.svg" alt="Medium Logo"></a>
					<p class="socialConnection">Connect with me on Medium and see what I am writing about the industry</p>
				</div>
				<div class="col-md-3 col-sm-6 alignCenter">
					<a href="https://www.linkedin.com/in/rider-jensen-a168a2102/" target="_blank"><img class="socMedIcon" src="img/linkedin.svg"
						 alt="Linked In Logo"></a>
					<p class="socialConnection">Connect with me on LinkedIn to see my work experience and what skills I have</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row fixingWidth siteWidth">
			<br>
			<div class="row">
				<br>

				<hr>
				<div class="col-md-4">
					<div>
						<p>&copy; Rider Jensen Creations 2018</p>
					</div>
				</div>
				<div class="col-md-4">
					<div>

					</div>
				</div>
				<div class="col-md-4">
					<a href="#top" class="alignCenter">Back To Top</a>

				</div>
			</div>
		</div>
	</div>
	<!--/container -->

	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
	</script>

	<script src="/js/vendor/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>


	<script src="/js/main.js"></script>
</body>

</html>